@media (max-width: 480px) {
    .promo {
        padding: 60px 0;
    }

    .promo__wrapper {
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .promo .socials {
        flex-direction: row;
        margin: 40px 0 0 0;
    }

    .promo .socials__item {
        margin: 0 16px;
    }

    .footer__icon {
        display: none;
    }

    .footer__block--contacts {
        width: 100%;
        text-align: center;
    }

    .footer__icon-text {
        width: 80%;
        margin: 0 auto;
    }

    .footer__contacts-item {
        text-align: center;
        justify-content: center;
    }

    .footer .socials {
        justify-content: center;
    }

    .footer .socials__item,
    .footer .socials__item:last-child {
        margin: 0 15px;
    }

    .footer__block--socials {
        margin: 0 0 10px 0;
    }

    .title {
        font-size: 26px;
        line-height: 30px;
    }

    .about__description {
        margin: 0 0 20px 0;
    }

    .about__list {
        flex-direction: column;
    }

    .about__item {
        width: unset;
    }

    .about__img {
        width: 292px;
        margin: 0;
    }

    .about__title {
        font-size: 20px;
        line-height: 24px;
    }
}

@media (max-width: 400px) {
    .promo {
        padding: 40px 0;
    }

    .promo__text {
        margin: 0 0 30px 0;
    }
}