@media (max-width: 730px) {
    .container,
    .wrapper {
        padding: 0 15px;
    }

    .main-container {
        font-size: 16px;
        line-height: 20px;
    }

    .header__container {
        padding: 0;
    }

    .link {
        font-size: 20px;
        line-height: 24px;
    }

    .promo__title {
        font-size: 54px;
        line-height: 60px;
    }

    .promo__text {
        font-size: 20px;
        line-height: 24px;
    }

    .footer {
        padding: 40px 0 20px 0;
    }

    .footer__title {
        font-size: 24px;
        line-height: 28px;
    }

    .footer__contacts-unit {
        display: none;
    }

    .footer .socials__item {
        margin: 0 30px 0 0;
    }

    .footer__icon {
        width: 200px;
    }

    .footer__contacts-item {
        margin: 0 0 10px 0;
    }

    .footer .socials {
        margin: 0;
    }

    .about__item {
        width: calc(100%/3);
        padding: 0 5px;
    }

    .about__description {
        font-size: 14px;
        line-height: 18px;
    }

    .about__title {
        font-size: 16px;
        line-height: 20px;
    }
}