@media (max-width:960px) {
    .footer__column:last-child {
        flex-direction: column;
    }

    .footer__block--socials .footer__title,
    .footer__block--socials .footer__text {
        display: none;
    }

    .footer__block--contacts {
        margin: 0 0 20px 0;
        width: calc(100% - 220px);
    }

    .footer__icon-text {
        width: calc(100% - 220px);
        max-width: 433px;
        margin: unset;
    }

    .footer__icon {
        display: block;
        bottom: unset;
        top: 30px;
        max-height: 100%;
    }

    .footer__block {
        width: 100%;
    }

    .about__list {
        justify-content: space-between;
    }

    .about__title {
        font-size: 18px;
        line-height: 22px;
    }

    .about__img {
        width: 200px;
    }
}