@media (max-width: 730px) {
    .container,
    .wrapper,
    .wrap {
        padding: 0 15px;
    }

    .main-container {
        font-size: 16px;
        line-height: 20px;
    }

    .header__container {
        padding: 0;
    }

    .title {
        font-size: 28px;
        line-height: 32px;
    }

    .subtitle {
        font-size: 26px;
        line-height: 30px;
    }

    .link {
        font-size: 20px;
        line-height: 24px;
    }

    .promo__title {
        font-size: 54px;
        line-height: 60px;
    }

    .promo__text {
        font-size: 20px;
        line-height: 24px;
    }

    .footer {
        padding: 40px 0 20px 0;
    }

    .footer__title {
        font-size: 24px;
        line-height: 28px;
    }

    .footer__contacts-unit {
        display: none;
    }

    .footer .socials__item {
        margin: 0 30px 0 0;
    }

    .footer__icon {
        width: 200px;
    }

    .footer__contacts-item {
        margin: 0 0 10px 0;
    }

    .footer .socials {
        margin: 0;
    }

    .about__description,
    .top__description {
        font-size: 14px;
        line-height: 18px;
    }

    .about__title {
        font-size: 16px;
        line-height: 20px;
    }

    .modal {
        max-width: unset;
        top: 0;
        left: 0;
        margin-left: unset;
        padding: 40px 15px;
    }

    .modal__close {
        top: 10px;
        right: 10px;
        width: 20px;
        height: 20px;
    }

    .form__title {
        font-size: 30px;
        line-height: 34px;
        margin: 0 0 20px 0;
    }

    .form__group {
        margin: 0 0 14px 0;
    }

    .block__title {
        margin: 0 0 30px 0;
        font-size: 20px;
        line-height: 24px;
    }

    .counter__item {
        font-size: 14px;
        line-height: 18px;
        margin: 0 0 14px 0;
    }

    .list__item {
        font-size: 14px;
        line-height: 18px;
    }

    .counter__item {
        padding: 0 0 0 30px;
    }

    .counter__item:before {
        font-size: 20px;
        line-height: 24px;
    }

    .block__text {
        font-size: 14px;
        line-height: 18px;
    }

    .list__item {
        padding: 0 0 10px 30px;
    }

    .top {
        margin: 30px 0 40px 0;
    }

    .delivery__text {
        margin: 0 10px 0 0;
        font-size: 14px;
        line-height: 18px;
    }

    .delivery__img {
        width: 50px;
    }

    .about__text {
        font-size: 12px;
        line-height: 16px;
        margin: 0 0 5px 0;
    }

    .block__content {
        padding: 40px 20px;
    }

    .promo--partners .promo__title {
        font-size: 44px;
        line-height: 50px;
    }

    .promo--partners .button {
        max-width: unset;
    }

    .promo--partners .promo__text {
        font-size: 16px;
        line-height: 20px;
        margin: 0 0 30px 0;
    }

    .company__bottom {
        flex-wrap: wrap;
    }

    .company .socials {
        margin: 0 0 20px 0;
    }

    .company__bottom .block__title {
        margin: 0 0 20px 14px;
    }

    .company .block__text {
        line-height: 18px;
    }

    .tile--partners {
        margin-bottom: 30px;
    }

    .tile__list {
        grid-template-columns: 1fr;
        grid-column-gap: unset;
        margin: 0 0 30px 0;
    }

    .tile__title {
        padding: 30px 30px 60px 30px;
    }

    .tile__item:first-child {
        grid-row: auto;
    }

    .tile__item:nth-child(4) {
        grid-column: auto;
    }

    .tile__button {
        display: none;
    }

    .tile--single .tile__content {
        width: 95%;
    }

    .block__numbers {
        flex-direction: column;
    }

    .block__number {
        padding: 0 0 14px 0;
        font-size: 18px;
        line-height: 22px;
    }

    .block__number:last-child {
        padding: 0;
    }

    .block__bottom {
        flex-direction: column;
    }

    .block__text--small {
        margin: 0 0 20px 0;
    }

    .block__partners-item {
        margin: 0 10px 10px 0;
        width: calc((100% - 20px)/3);
    }

    .block__partners-img {
        height: auto;
    }

    .block__partners-item:nth-child(3n) {
        margin: 0 0 10px 0;
    }
}

@media (max-width: 520px) {
    .delivery__container {
        flex-direction: column;
        justify-content: flex-start;
    }

    .delivery__img {
        margin: 0 0 20px 0;
    }

    .delivery__text {
        margin: 0;
        order: 2;
        text-align: center;
    }

    .columns {
        column-count: 1;
    }
}