@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
  url("../fonts/montserrat-regular.woff2") format("woff2"),
  url("../fonts/montserrat-regular.woff") format("woff"),
  url("../fonts/montserrat-regular.ttf") format("ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
  url("../fonts/montserrat-500.woff2") format("woff2"),
  url("../fonts/montserrat-500.woff") format("woff"),
  url("../fonts/montserrat-500.ttf") format("ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
  url("../fonts/montserrat-600.woff2") format("woff2"),
  url("../fonts/montserrat-600.woff") format("woff"),
  url("../fonts/montserrat-600.ttf") format("ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
  url("../fonts/montserrat-700.woff2") format("woff2"),
  url("../fonts/montserrat-700.woff") format("woff"),
  url("../fonts/montserrat-700.ttf") format("ttf");
}

@font-face {
  font-family: "Poiret One";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Poiret One Regular'), local('Poiret One-Regular'),
  url("../fonts/poiret-one-regular.woff2") format("woff2"),
  url("../fonts/poiret-one-regular.woff") format("woff"),
  url("../fonts/poiret-one-regular.ttf") format("ttf");
}

@font-face {
  font-family: "Alegreya SC";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Alegreya SC Regular'), local('Alegreya SC-Regular'),
  url("../fonts/alegreya-sc-regular.woff2") format("woff2"),
  url("../fonts/alegreya-sc-regular.woff") format("woff"),
  url("../fonts/alegreya-sc-regular.ttf") format("ttf");
}

@font-face {
  font-family: "Alegreya SC";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('Alegreya SC Bold'), local('Alegreya SC-Bold'),
  url("../fonts/alegreya-sc-700.woff2") format("woff2"),
  url("../fonts/alegreya-sc-700.woff") format("woff"),
  url("../fonts/alegreya-sc-700.ttf") format("ttf");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  margin: 0;
  padding: 0;
}

* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

:root {
  /*css - переменные*/
  --white: #ffffff;
  --black: #000000;
  --black-opacity: 0, 0, 0;
  --grey: #B2B2B2;
  --pink: #FBAB9A;
  --dark: #333333;
}
/* применение var(--color-blue); */

.visually-hidden:not(:focus):not(active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
  color: var(--grey);
  font-style: normal;
  font-weight: 400;
  min-height: 100vh;
  background-size: cover;
  background-image: url("../img/background.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.main-container:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(64.02% 41.85% at 114.02% 58.15%, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%), rgba(0, 0, 0, 0.8);
  z-index: -1;
}

a {
  text-decoration: none;
  color: var(--grey);
  outline: none;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1370px;
  margin: 0 auto;
  padding: 0 30px;
}

.wrapper {
  width: 100%;
  max-width: 1524px;
  margin: 0 auto;
  padding: 0 30px;
}

.link {
  font-size: 24px;
  line-height: 28px;
  color: var(--pink);
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 274px;
  height: 60px;
  padding: 0 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: var(--dark);
  background-color: var(--pink);
  text-transform: uppercase;
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 16px 22px rgba(var(--black-opacity), 0.05);
  z-index: 1;
  border-radius: 5px;
  position: relative;
  letter-spacing: 0.01em;
}

.button:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  filter: blur(5px);
  z-index: -1;
  background-color: var(--pink);
}

.button--border {
  border: 2px solid var(--pink);
  background-color: transparent;
  color: var(--pink);
}

.header {
  background-color: rgba(var(--black-opacity), 0.2);
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 99;
}

.header__container {
  max-width: 1625px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 115px;
  padding: 0 15px;
}

.header__logo {
  display: flex;
  align-items: center;
  padding: 0 15px;
  height: 100%;
}

.header__logo-img {
  display: block;
}

.navigation__list {
  display: flex;
  align-items: center;
}

.navigation__link {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 25px;
}

.navigation__icon {
  display: block;
  margin: 0 10px 0 0;
}

.navigation__text {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 13px;
  white-space: nowrap;
}

/* Мобильное меню - бургер */

.header__hamburger {
  display: none;
}

/* Промо-блок */

.promo {
  background-size: cover;
  height: 100vh;
  box-shadow: 0 0 0 1000px rgba(196, 190, 192, 0.4) inset;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  padding: 180px 0;
}

.promo:after {
  content: '';
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7));
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.promo__wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.promo__title {
  font-family: "Poiret One", "Roboto", sans-serif;
  font-size: 64px;
  line-height: 70px;
  margin: 0 0 30px 0;
  text-transform: uppercase;
}

.promo__text {
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 0 60px 0;
}

.promo .socials {
  flex-direction: column;
}

.promo .socials__item {
  margin: 10px 0;
}

.promo .socials__item--inst .socials__icon {
  width: 18px;
  height: 18px;
}

.promo .socials__item--fb .socials__icon {
  width: 10px;
  height: 20px;
}

.promo .socials__item--vk .socials__icon {
  width: 24px;
  height: 14px;
}

.promo .socials__item--tel .socials__icon {
  width: 22px;
  height: 18px;
}

/* Соц. сети */

.socials {
  display: flex;
  align-items: center;
}

.socials__link {
  display: block;
  padding: 10px;
}

.socials__icon {
  display: block;
}

/* Подвал */

.footer {
  background-color: rgba(32, 32, 32, 0.8);
  position: relative;
  padding: 110px 0 30px 0;
  overflow: hidden;
}

.footer__icon {
  position: absolute;
  bottom: 0;
  right: 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__column:first-child {
  width: 690px;
  flex-shrink: 0;
}

.footer__column:last-child {
  width: 540px;
  flex-shrink: 0;
}

.footer__block {
  margin: 0 0 50px 0;
}

.footer__title {
  font-family: "Poiret One", "Roboto", sans-serif;
  font-size: 30px;
  line-height: 34px;
  margin: 0 0 30px 0;
  text-transform: uppercase;
}

.footer__list {
  column-count: 2;
  column-gap: 40px;
}

.footer__item {
  margin: 0 0 20px 0;
}

.footer__link {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footer__contacts {
  margin: 0 0 20px 0;
}

.footer__contacts-item {
  display: flex;
  margin: 0 0 14px 0;
}

.footer__contacts-unit {
  margin: 0 20px 0 0;
}

.footer__text {
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 20px 0;
  max-width: 540px;
}

.footer__contacts-value {
  font-weight: 700;
}

.footer__phone,
.footer__mail {
  color: var(--pink);
}

.footer__mail {
  font-weight: 400;
}

.footer .socials {
  margin: 0 0 20px 0;
}

.footer .socials__item--inst .socials__icon {
  width: 28px;
  height: 28px;
}

.footer .socials__item--fb .socials__icon {
  width: 16px;
  height: 32px;
}

.footer .socials__item--vk .socials__icon {
  width: 39px;
  height: 23px;
}

.footer .socials__item--tel .socials__icon {
  width: 30px;
  height: 23px;
}

.footer .socials__item {
  margin: 0 50px 0 0;
}

.footer .socials__item:last-child {
  margin: 0;
}

.footer__icon-text {
  display: block;
  margin: 0 auto;
}

/* О нас */

.block {
  padding: 50px 0;
}

.about {
  position: relative;
}

.about__icon {
  position: absolute;
  top: 30px;
  left: 10px;
}

.title {
  font-family: "Poiret One", "Roboto", sans-serif;
  font-size: 30px;
  line-height: 40px;
  margin: 0 0 50px 0;
  text-transform: uppercase;
  text-align: center;
}

.about__description {
  font-size: 16px;
  line-height: 24px;
  max-width: 660px;
  text-align: center;
  margin: 0 auto 60px auto;
}

.about__list {
  display: flex;
  justify-content: space-around;
}

.about__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__img {
  display: block;
  margin: 0 0 10px 0;
}

.about__title {
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
}

